#set ($css-path = 'SetThisVariablePlease')
<link href="${css-path}main.css" rel="stylesheet" />

<div class="addresses">

    <ul>
        <li>
            <div class="map">
                <img src="http://placehold.it/400x200&text=Map" alt=""/>
            </div>
            <address class="content">
                <h4>Corporate Headquarters</h4>
                <div class="block">
                    Rivet Logic Corporation<br/>
                    11410 Isaac Newton Square N.<br/>
                    Suite 210<br/>
                    Reston, VA 20190
                </div>
                <div class="block">
                    <abbr title="Phone">P</abbr>: +1.703.955.3480<br/>
                    <abbr title="Fax">F</abbr>: +1.703.234.7711
                </div>
            </address>
        </li>
        <li>
            <div class="map">
                <img src="http://placehold.it/400x200&text=Map" alt=""/>
            </div>
            <address class="content">
                <h4 title="">Corporate Headquarters</h4>
                <div class="block">
                    Rivet Logic Corporation<br/>
                    11410 Isaac Newton Square N.<br/>
                    Suite 210<br/>
                    Reston, VA 20190
                </div>
                <div class="block">
                    <abbr title="Phone">P</abbr>: +1.703.955.3480<br/>
                    <abbr title="Fax">F</abbr>: +1.703.234.7711
                </div>
            </address>
        </li>
        <li>
            <div class="map">
                <img src="http://placehold.it/400x200&text=Map" alt=""/>
            </div>
            <address class="content">
                <h4>Corporate Headquarters</h4>
                <div class="block">
                    Rivet Logic Corporation<br/>
                    11410 Isaac Newton Square N.<br/>
                    Suite 210<br/>
                    Reston, VA 20190
                </div>
                <div class="block">
                    <abbr title="Phone">P</abbr>: +1.703.955.3480<br/>
                    <abbr title="Fax">F</abbr>: +1.703.234.7711
                </div>
            </address>
        </li>
        <li>
            <div class="map">
                <img src="http://placehold.it/400x200&text=Map" alt=""/>
            </div>
            <address class="content">
                <h4>Corporate Headquarters</h4>
                <div class="block">
                    Rivet Logic Corporation<br/>
                    11410 Isaac Newton Square N.<br/>
                    Suite 210<br/>
                    Reston, VA 20190
                </div>
                <div class="block">
                    <abbr title="Phone">P</abbr>: +1.703.955.3480<br/>
                    <abbr title="Fax">F</abbr>: +1.703.234.7711
                </div>
            </address>
        </li>
    </ul>

</div>