#*
 Copyright (C) 2012-2013 Rivet Logic Corporation.

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GPLv3 General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GPLv3 General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
*#

#set ($crafterService = $utilLocator.findUtil('crafter-integration-portlet','com.rivet.crafter.service.CrafterLocalService'))
#set ($qValue = "crafterSite:$crafter-site.getData() AND localId:$content-path.getData()")
#set ($query_parameters = {"q": $qValue})
#set ($documentsMap = $crafterService.searchByMap($query_parameters))
#set ($content = $documentsMap.get(0))

#set ($css-path = '/velocity-templates-theme/css/')
<link href="${css-path}main.css" rel="stylesheet" />

<ul class="metadata">
    <li class="info">
        <strong>Internal Title:</strong> <span><span>$content.get("internal-title")</span></span>
    </li>
    <li class="info">
        <strong>Content Type:</strong> <span>$content.get("content-type")</span>
    </li>
    <li class="info">
        <strong>Crafter Site:</strong> <span>$content.get("crafterSite")</span>
    </li>
    <li class="info">
        <strong>Created Date:</strong> <span>$content.get("createdDate")</span>
    </li>
    <li class="info">
        <strong>File Name:</strong> <span>$content.get("file-name")</span>
    </li>
    <li class="info">
        <strong>ID:</strong> <span>$content.get("id")</span>
    </li>
    <li class="info">
        <strong>Last Modification Date:</strong> <span>$content.get("lastModifiedDate")</span>
    </li>
    <li class="info">
        <strong>Local ID:</strong> <span>$content.get("localId")</span>
    </li>
    <li class="info">
        <strong>Merge Strategy:</strong> <span>$content.get("merge-strategy")</span>
    </li>
    <li class="info">
        <strong>Object Group ID:</strong> <span>$content.get("objectGroupId")</span>
    </li>
    <li class="info">
        <strong>Object ID:</strong> <span>$content.get("objectId")</span>
    </li>
</ul>

<small>[DEBUG] Solr Query: q=$qValue</small>