/* line 17, ../../sass/main.scss */
.metadata {
  list-style-type: none;
}
/* line 20, ../../sass/main.scss */
.metadata .info {
  margin-bottom: 5px;
}
/* line 23, ../../sass/main.scss */
.metadata .info strong {
  margin-right: 10px;
  text-align: right;
  width: 180px;
  float: left;
}
/* line 6, ../../sass/main.scss */
.metadata li.info:before,
.metadata li.info:after {
  display: table;
  content: " ";
}
/* line 11, ../../sass/main.scss */
.metadata li.info:after {
  clear: both;
}
/* line 34, ../../sass/main.scss */
.metadata ul {
  padding-left: 0;
  list-style-type: none;
}
/* line 41, ../../sass/main.scss */
.metadata.param > li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #d9d9d9;
}
/* line 47, ../../sass/main.scss */
.metadata.param strong {
  clear: left;
  width: 140px;
}

/* line 6, ../../sass/main.scss */
.addresses ul:before,
.addresses ul:after {
  display: table;
  content: " ";
}
/* line 11, ../../sass/main.scss */
.addresses ul:after {
  clear: both;
}
/* line 60, ../../sass/main.scss */
.addresses ul {
  list-style-type: none;
}
/* line 63, ../../sass/main.scss */
.addresses ul li {
  border: 2px solid #d9d9d9;
  margin: 0 10px 10px 0;
  border-radius: 4px;
  width: 240px;
  float: left;
}
/* line 70, ../../sass/main.scss */
.addresses ul li .content {
  padding: 0 10px;
  min-height: 200px;
}
/* line 74, ../../sass/main.scss */
.addresses ul li .content .block {
  margin-bottom: 10px;
}
/* line 80, ../../sass/main.scss */
.addresses ul li .map {
  border-bottom: 2px solid #d9d9d9;
  overflow: hidden;
}
/* line 84, ../../sass/main.scss */
.addresses ul li .map * {
  width: 100%;
}

/* line 6, ../../sass/main.scss */
.cleafix:before,
.cleafix:after {
  display: table;
  content: " ";
}

/* line 11, ../../sass/main.scss */
.cleafix:after {
  clear: both;
}
